body{
    display:flex;
    background: white;
    flex-direction:column;
    align-self:center;
    margin:2em 0;
    padding:0 2em;
}

.nav{
    display:flex;
}

.nav-button{
    display:none;
}

.primary-navigation ul{
    padding:0;
    display:flex;
    flex-direction: row;
    gap:var(--gap,2.5rem); /* --gap is the custom property and needs to be defined  */
    align-items:center;
    justify-content:flex-end;
    margin:20px 40px;
}

.primary-navigation li, .primary-navigation a{
    list-style: none;
    text-decoration: none;
    font-family:Epilogue, sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color:black;
    padding:none;
}

.primary-navigation a:hover, li:hover{
    text-decoration: underline;
    color:#9e1f63;
}

#home{
    margin-right:auto;
    fill: #9e1f63;
    stroke: #7f47dd;
    stroke-miterlimit: 10;
    stroke-width: 18px;
}

.linkedin-logo:hover{
    fill:#9e1f63;
}

.content-wrapper{
    max-width:100%;
    padding:0 2.5em;
    margin:0;
}
/*------------------------------------------------ PROJECT TITLE-------------------------------------------------  */

.project-wrapper{
    width:100%;
     display:flex;  
    --gap:3em;
    gap:var(--gap);
    margin: 3em 0;
}

.project-title h1{ 
    font-family:Epilogue, sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color:black;
    font-size:5em;
    padding:0;
}

.project-title h2{
    font-family:Epilogue, sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    /* color:#9e1f63; */
    color:#d484af;
    font-size:2em;
}

.project-description{
    max-width:80ch;
    max-height:600px;
    margin-left:auto;
}

p{
    font-family:Epilogue, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:black;
    font-size:1em;
    padding-right:10px;
    padding:0;
    height:auto;
    line-height:1.5em;
    text-wrap:pretty;
}

.bold{
    font-weight:600;
}

h1{
    margin:0;
    padding:0;
    min-width:11ch;
}

h2{
    margin:0;
    padding:0;
    min-width:20ch;
    font-family:Epilogue, sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size:3em;
    color:#9e1f63;
}

.medium{
    font-weight:500;
}


/* -------------------------------------------------ASSET GALLERY-----------------------------*/

.heading-wrapper{
    display:flex;
    flex-direction:column;
    gap:1em;
}

.asset-gallery{
    margin:6em 0;
    padding:0;
    display:flex;
    flex-direction:column;
    gap:4em;
    justify-content: space-between;
}

.gallery-wrapper{ 
    display:grid;
    gap:1em;
    grid-template-columns:1fr 1fr;
}


.hero-image-wrapper{
    padding:0;
}

.hero-image-wrapper{
    img{
        aspect-ratio: 3/2;
        object-fit:cover;
        border-radius:2em;
        border:3px solid black;
        max-inline-size:100%;
        height:auto;
    }
}


@media (max-width:900px){
    .hero-grid{
        grid-template-columns: repeat(1,1fr);
    }
}

.nested-grid{
    display:grid;
    gap:0 1em;
    grid-template-columns:repeat(2,1fr);
    width:100%;   
}

.image-wrapper{
    padding:0;
    margin:0 auto;
    max-width:300px;
    max-inline-size:100%;
}

.image-wrapper{
        img{
        aspect-ratio: 1/1;
        object-fit:cover;
        border-radius:2em;
        border:3px solid black;
        max-inline-size:100%;
        height:auto;
    } 
}

@media screens and (max-width:1300px){
    .gallery-wrapper{ 
        grid-template-columns: repeat(1,1fr);
    }

}

figure{
    margin:1em 0;
}

figcaption{
    font-family:Epilogue, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color:black;
    font-size:1rem;
    padding:0.5em 0.5em;
    height:auto;
    margin:auto;
    line-height:1.25em;
    text-wrap:pretty;
    text-align:center;
}

#crossword-figure{
    margin:0;
    padding:0;
}

/* ---------------------------------------------VIDEOS-------------------------------------------- */

.video-section{
    display:flex;
    flex-direction: column;
    padding:0;
    margin-bottom: 5em;
    justify-content: space-between;
    gap:1em;
    /* border: 2px solid #7f47dd;
    background:orange; */

}

#video-container{
    padding:0;
    border-radius:2em;
    display:flex;
} 

#video-container{
    video{
    border-radius:2em;
    border:3px solid black;
    max-inline-size:100%;
    height:auto;
    width:100%;
   } 
}

#candid-photo{
    padding:0;
    max-width:350px;
}

#candid-photo{
    img{
    /* aspect-ratio: 3/2; */
    object-fit:cover;
    border-radius:2em;
    border:3px solid black;
    max-inline-size:100%;
    height:auto;
 }
}
.media-wrapper{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:2em;
}

@media(max-width:900px){
    .media-wrapper{
        grid-template-columns: 1fr;
    }

    #event-description{
        margin:0;
        padding:0;
    }
}

.controls{
    display:none;
  }


/* --------------------------------------CATALOGUE-SECTION -----------------------------------------*/

.catalogue-section{
    display:flex;
    flex-direction:column;
    margin-top:4em;
}

.bw-catalogue{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;
}

@media (max-width:900px){

    #bw-hero-wrapper{
        order:0;
    }

    .bw-catalogue{
        grid-template-columns: 1fr;
    }
}
.section-title{
    display:flex; 
    margin-right:auto;
}
.section-title h2{
    margin-right:auto;
    margin-left:o;
}

.catalogue-section .nested-grid{
    margin-right:auto;
    margin-bottom: 6em;
}

/* --------------------------------------------------RISO SECTION-----------------------------*/
.riso-catalogue-section{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:1em;
}

@media (max-width:1100px){
    .riso-catalogue-section{
        grid-template-columns: 1fr;
    }
}

#catalogue-grid{
    margin-right:0;
}

#bw-catalogue-grid{
    margin-left:0;
}

.riso-image-wrapper{
    padding:0;
    margin:0 auto;
    max-width:300px;
}

.riso-image-wrapper{
        img{
        aspect-ratio: 1/1;
        object-fit:cover;
        border-radius:2em;
        border:3px solid black;
        max-inline-size:100%;
        height:auto;
        background:black;
    } 
}

/* --------------------------------------------------ZINE & CODE SECTION-----------------------------*/


#zine-description p{
 margin:0;
} 
.zine-grid-two{
    display:grid;
    gap:0 1em;
    grid-template-columns:repeat(4,1fr);
}

.section-two-wrapper{
    display:grid;
    gap:1em;
    grid-template-columns:2fr 1fr;
}

@media (max-width:750px){
    .section-two-wrapper{
        grid-template-columns: 1fr;
    }
}

.zine-image-wrapper{
    padding:0;
    width:100%;
}

.zine-image-wrapper{
    img{
        aspect-ratio:1/1;
        object-fit:contain;
        max-inline-size:100%;
        height:auto;
        border:3px solid black;
        border-radius:2em;
        background:black;
        display:block;
        } 
    }

#crossword{
    display:block;
    /* max-width:700px; */
    max-inline-width:100%;
    height:auto;
    padding:0;
    margin:0;
}

#crossword img{
    width:100%;
}
 #crossword{
        img{
            aspect-ratio:1/1;
            object-fit:contain;
            max-inline-size:100%;
            width:100%;
            height:auto;
            padding:0;
            margin:0;
            display:block;
            } 
        }


.zine-video-section{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:1em;
}

#zine-video-container{
    padding:0;
    max-width:600px;
    border-radius:2em;
} 

#zine-video-container{
    img{
    border-radius:2em;
    border:3px solid black;
    max-inline-size:100%;
    height:auto;
    width:100%;
    } 
}

#crossword-video-wrapper{
    padding:0;
    border-radius:2em;
    max-width:100%;
}

#crossword-video-wrapper{
    video{
        border-radius:1em;
        border:3px solid black;
        max-inline-size:100%;
        height:auto;
        width:100%;
    }
    
}


/*------------------------------------------------- MEDIA QUERIES ----------------------------*/
@media (max-width:1300px){

      .hero-image-wrapper{
        padding:0;
        margin:0 auto;
        width:100%;
      }
      
      .nested-grid{
      width:100%;
      margin:auto;
   }

   #crossword, #zine-video-container{
    margin:auto;
   }


.zine-grid{
    grid-template-columns:repeat(2,1fr);
}

.video-section{
    flex-direction:column;
    align-items:center;
}

    .hero-image-wrapper{
        max-width:800px;
       }
}

@media (max-width:1020px){
   
    .project-wrapper{
        flex-direction:column;
    }


    .project-description{
        margin:0;
        padding:0;
    }

    .project-description p, #catalogue-description p{
        max-width: 70ch;
        min-width:50ch;
        font-size: 1em;
    }



     .project-title h1{
        font-size:3.5em;
    } 
 

     .project-title h2{
        font-size:1.5em;
    } 

    h2{
        font-size:2.5em;

    }

  
    .image-wrapper, .riso-image-wrapper{
    min-width:0px;
     max-inline-size:100%;
    }

    .section-title{
        flex-direction:column;
        margin-right:auto;
    }


    .catalogue-section{
        gap:0.5em;
    }

    .bw-catalogue{
        flex-direction:column-reverse;  
    }
    #bw-catalogue-grid{
        margin: 0 auto;
        padding:0;
    }

    .riso-catalogue-section{
        flex-direction:column;
    }

    .gallery-wrapper{
        grid-template-columns: 1fr;
    }

    .zine-grid{
        grid-template-columns: repeat(1,1fr);
    }

    .zine-grid-two{
        grid-template-columns: repeat(2,1fr);
    }

}



@media screen and (max-width:550px){
    .nested-grid{ 
        grid-template-columns: repeat(1,1fr);
    }

}


@media(max-width:35em){

    .body{
        margin:0;
    }
    .content-wrapper{
        padding:0;
        margin:0;
    }

    .primary-navigation{
        position:fixed;
        z-index:1000;
        inset: 0 0 0 30%;
        background:rgb(176, 40, 156);
        transform: translateX(100%);
    }
    
    .primary-navigation ul{
        flex-direction:column;
        margin:100px 0;
        --gap:2em;
    }

    .primary-navigation li, .primary-navigation a{
        margin:0;
        font-size:1.5rem;
        color:rgb(255, 200, 255);
    }
    
    #home{
        margin:0;
        align-self:center;
        fill:rgb(255, 200, 255);
    }
    
    #home:hover{
      fill:white;
    }
    
    .linkedin-logo{
        fill:rgb(255, 200, 255);
    }
    
    .linkedin-logo:hover{
        fill:white;
    }
    
    .primary-navigation a:hover, li:hover{
        text-decoration: underline;
        color:white;
    }
    
    .primary-navigation.open{
        transform: translateX(0);
    }
    
    .primary-navigation.open{
        transform: translateX(0);
    }



    .mobile-nav-toggle{
        display:block;
        position:absolute;
        z-index:9999;
        width:1em;
        aspect-ratio:1;
        top:2rem;
        right:2rem;
    } 

    .nav-button {
        display: block;
        margin-left:auto;
        position:absolute;
        z-index:9999;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        right:2em;
    }  

    .hamburger{
        fill:#9e1f63;
        transition: transform 0.3s ease;
        transform-origin: center;
        border:#9e1f63;
    } 
    
  
    .first, .middle, .bottom {
        transition: transform 0.3s ease, opacity 0.3s ease;
        transform-origin: center; /* Set transform origin to center for proper rotation */
    }
    
    /* Initial state of the hamburger */
    .first, .bottom {
        transition: transform 0.3s ease;
    }
    
    .middle {
        transition: opacity 0.3s ease;
    }
    
    /* When menu is expanded */
    .nav-button[aria-expanded="true"] .first {
        transform: translateY(15px) rotate(45deg);
        fill:white;
    }
    
    .nav-button[aria-expanded="true"] .bottom {
        transform: translateY(-15px) rotate(-45deg);
        fill:white;
    }
    
    .nav-button[aria-expanded="true"] .middle {
        opacity: 0;
        fill:white;
    }

    .content-wrapper{
        margin: 2em auto 0;
    }

    .project-wrapper{
        margin:0;
        padding-top:20px;
    }

    .project-wrapper h1{
        font-size:3em;
    }
    h2{
        font-size:2em;
    }
    .project-description p, #catalogue-description p{
        max-width:60ch;
        min-width:30ch;
    }
   .zine-video-section, .section-two-wrapper, .zine-grid-two{
    grid-template-columns: 1fr;
    }

    .section-two-wrapper{
        gap:0px;
    }
   }

